.layer1{
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    /*max-height: 85%;*/
    background-image:
    linear-gradient(rgba(31, 41, 55,2),
    rgba(31, 41, 55, 0.5));
    /*box-shadow: 0 0 0.5em rgb(69, 69, 69);*/
    justify-content: center;
    height: 50.1vh;
}

.hero{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width:71vw;
}

.imgHero{
    flex: 1 1 auto;
    display: flex;
    max-width: 48%;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
    height: 50%;
}

.boat{
    display: flex;
    width: 100%;
    box-shadow: 0 10px 10px black;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.txtHero{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    /*gap: 1em;*/
    max-width: 48%;
    height: 50%;
    justify-content: space-between;
}

.main_text{
    flex: 0 1 auto;
    font-size:calc(12px + 2.66666667vw);
    /*text-shadow: 0 0 0.08em rgb(255, 255, 255);*/
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
    font-weight: 800;
}

.secondary_text{
    flex: 0 1 auto;
    color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    font-size:calc(3px + 1vw);
    font-weight: 500;
}

.container {
    display: flex;
    align-items: center;
}

.btn{
    border: 1px solid #f9faf8;
    background: none;
    padding: 5px 10px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    /*border: 1px solid #3498db;*/
}

.btn1{
    color: #f9faf8;
}

.btn1:hover{
    color: #f9faf8;
    text-shadow: 0 0 0.5em rgb(255, 255, 255);
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #1500ff;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn1:hover::before{
    height: 180%;
}

@media (max-width: 1100px){
    .hero{
        flex-direction: column;
        gap:3em;
        max-width: 100%;
    }
    .layer1{
        height: 100%;
        padding: 2em 0 2em 0;
    }
    .txtHero{
        gap: 1em;
    }
    .main_text, .secondary_text{
        letter-spacing: 0;
    }
    .txtHero, .imgHero{
        width: auto;
        flex-wrap: wrap;
        max-width: 100%;
        flex-direction: row;
    }
    .container{
        justify-content: center;
    }
    .header_left{
        margin:0;
    }
    .header_right{
        display: none;
    }
    .main_text{
        font-size:calc(6px + 3em);
    }
    .secondary_text{
        font-size:calc(5px + 1.2em);
    }
}
@media (max-width: 720px){
    .main_text{
        font-size:calc(6px + 3em);
    }
    .secondary_text{
        font-size:calc(3px + 0.9em);
    }
}
